*{
 margin: 0;
 padding: 0;  
 box-sizing: border-box; 
}

body{
    background-color: rgb(179, 175, 170);
}

.foto{
    width: 225px;
    height: 215px;
    display: block;
    margin: auto;
    border-radius: 50%;
    position: relative;
    top: -100px;
    box-shadow: 1px 1px 5px 1px  rgb(43, 40, 37);
}

 
.container{
    background-color: rgb(247, 239, 229);
    margin-top: 8%;
    margin-left: 10%;
    margin-right: 10%;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 1px 1px 5px 1px  rgb(43, 40, 37);
    position: relative;
    bottom: -100px;
}

.nama{
    text-align: center;
    margin-top: -5%;
    font-style: italic;
    background-color: rgba(14, 12, 173, 0.603);
    
}

.status{
    text-align: center;
    font-style: oblique;
    color: rgb(17, 17, 16);
    margin-bottom: 30px;
    background-color: rgba(119, 133, 148, 0.418);
}

table{
    margin-left: 25%;
    font-size: 18px;
    margin-right: 10%;
    width: 90%;
}

.hobi{
    text-align: center;
    color: black;
    font-style: italic;
    background-color: rgba(181, 184, 11, 0.596);
}

body{
    background-color: rgba(122, 7, 7, 0.808);
}

.titik{
    width: 5%;
}

#emel{
    width: 50px;
    margin-left: 48%;
    margin-top: 70px;
    position: relative;
    bottom: 47px;
    height: 55px;

}

#igeh{
    width: 50px;
    height: 50px;
    text-align: center;
    display: block;
    position: center;
    margin-left: 54%;
    position: relative;
    bottom: 100px;
}

#waa{
    width: 50px;
    margin-left: 42%;
    height: 50px;
    display: block;
    position: relative;
    bottom: 149px;
}